/* Universal & common Styles */

*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding: auto 20px;
}

/* Navbar Styles */

.navbar{
    border-top: #1D4ED8;
    margin: 23.5px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-items{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.nav-items li a{
    text-decoration: none;
    color: #575757;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 500;
}
.nav-btn button{
    border: none;
    border-radius: 8px;
    background-color: #1D4ED8;
    color: #ffffff;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 700;
    padding: 12px 41px;
    cursor: pointer;
}

/* Hero Styles */

.hero{
    background: linear-gradient(to right,rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url("./assets/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 871px;
    background-position: center;
}
.hero-content{
    height: 850px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-text{
    font-family: "Inter";
    text-align: center;
}
.hero-text h1{
    font-size: 72px;
    font-weight: 700;
    padding-bottom: 20px;
}
.hero-text p{
    font-size: 24px;
    font-weight: 200;
    padding-bottom: 20px;
}
.hero-btn button{
    border: none;
    border-radius: 8px;
    background-color: #1D4ED8;
    color: #ffffff;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 700;
    padding: 20px 50px;
    cursor: pointer;
    margin-top: 100%;
}

/* Speakers Styles */

.speakers h1{
    font-family: "Inter";
    font-size: 48px;
    font-weight: 700;
    padding: 80px 0 56px 0;
    text-align: center;
}
.speakers-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 100px;
}
.card{
    background: #ffffff;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
    overflow: hidden;
}
.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 10% center;
}
.card h6{
    font-family: "Inter";
    font-size: 12px;
    font-weight: 600px;
    color: #2563eb;
    padding: 24px 0 8px 24px;
}
.card h3{
    font-family: "Inter";
    font-size: 24px;
    font-weight:bold;
    color: #0D1B2A;
    padding: 0 0 8px 24px;
}
.card p{
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400px;
    color: #575757;
    padding: 0 0 24px 24px;
}
/* Speakers Styles */

.pricing{
    padding-top: 50px;
    font-family: "Inter";
}
.pricing-head h1{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
.pricing-head p{
    font-size: 16px;
    font-weight: 200px;
    text-align: center;
    color: #575757;
    line-height: 24px;
    padding: 12px 0 48px 0;
}
.price-flex{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 75px;
}
.price-card{
    height: 444px;
    width: 371px;
    background-color: #f8f9fb;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
    padding: 24px 28px;
}
.pro{
    background: #0D1B2A;
}
.price-card h6{
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    color: #888888;
}
.price-card h1{
    font-size: 44px;
    font-weight: bold;
    line-height: 44px;
    color: #0D1B2A;
    padding: 8px 0 4px 0;
}
.price-card p{
    font-size: 13px;
    font-weight:400;
    line-height: 19.5px;
    color: #888888;
    padding-bottom: 20px;
}
.price-card ul {
    border-top: solid #000000;
    list-style-position: inside;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
}
.price-card ul li {
    margin-bottom: 14px;
    margin-top: 20px;
}
.price-card li::marker{
    color: #2563eb;
}
.pro h6{
    color: #93C5FD;
}
.pro h1{
    color: #ffffff;
}
.pro ul{
    color: #ffffffcd;
    border-top: solid #ffffff23;
}
.cmn-btn{
    border: solid #1D4ED8 ;
    border-radius: 8px;
    color: #1D4ED8;
    background-color: #ffffff;
    height: 45px;
    width: 305px;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    display: block;
    margin: 20px auto;
    cursor: pointer;
}
.pro-btn{
    border: none;
    border-radius: 8px;
    background-color: #1D4ED8;
    color: #ffffff;
    height: 45px;
    width: 305px;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    display: block;
    margin: 20px auto;
    cursor: pointer;
}
